.chatAnswers {
    background-color: black;
    padding: 2rem;
    border-radius: 1rem;
    width: 40rem;
    font-size: x-large;
    min-height: 30rem;
    max-height: 60rem;

    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatAnswers::-webkit-scrollbar {
    display: none;
}

.answer:not(:last-child) {
    padding-bottom: 2rem;
}

.answer:not(:first-child) {
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
