.chatAnswers {
    background-color: black;
    padding: 2rem;
    border-radius: 1rem;
    width: 40rem;
    font-size: x-large;
    min-height: 30rem;
}

.answer:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}